# Unary Operators

## Unary Arithmetic Operators

Unary Operators take only one operand.
Examples of such operators include sign change, logical negation, factorial etc.

Unary operators have higher priority than binary operators, and are evaluated first in any expression

Factorial and other unary operators that need libraries to be installed are not covered in this notebook

In [72]:
### Unary - operator changes the sign of the input numeric data type

print(-4)  ### print an integer with negative sign
print(-4.5)  ### print an integer with negative sign
print(-(-4))  ### sign change a negative value integer
print(-0b1011) ### convert binary number to integer and change sign

-4
-4.5
4
-11

In [73]:
### Unary + operator doesnt actually do anything - the input remains unchanged and is yielded as output

print(+4)  
print(+4.5)  
print(+4j)  
print(+0b1011)

4
4.5
4j
11

### Built-in Unary Arithmetic Functions

**abs()** function results in absolute value i.e. magnitude of a number: 
1. For Rational Numbers, it corresponds to the value without minus sign for negative number and the number itself for a non-negative number.
2. For Complex Numbers, it corresponds to the magnitude. for a complex number a+jb, magnitude = √a² + b²

In [16]:
print(abs(-7.25))
print(abs(3+5j))

7.25
5.830951894845301

**round()** function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.
    The default number of decimals is 0, meaning that the function will return the nearest integer.

In [17]:
print(round(5.76543))
print(round(5.76543, 2))

6
5.77

## Unary Logical Operators

### Unary not Operator
Unary not operator is the logical negation operator. 
It changes boolean values to opposite one : False to True and True to False

In [22]:
print(not (True))
print(not (False))

print(not (-4j))     ### changing boolean value of a numeric datatype
print(not ("Hello")) ### changing boolean value of a string datatype
print(not (0))       ### changing boolean value of 0

False
True
False
False
True

## Unary Bitwise Operators

Unary bitwise operators are used to perform bitwise calculations on single integer. The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits. The result is then returned in decimal format.

### Unary Bitwise NOT Operator
Python Bitwise Not (~) Operator transforms 0 bits to 1 and 1 bits to 0, resulting in the one’s complement of the binary number.

In [21]:
a = 9
b = 10
c = -11

print(~a)
print(~b)
print(~c)

-10
-11
10

### Unary Bitwise Shift Operators
Bitwise Shift operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used as equivalent of multiplying or dividing a number by some power of 2.

#### Unary Bitwise Right Shift (>>) Operator
Bitwise Right Shift (>>) Operator shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of 2.

In [13]:
a = 10
b = -10

# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a >> 1 = 5
b >> 1 = -5

#### Unary Bitwise Left  Shift (>>) Operator
Bitwise Right Left (>>) Operator sshifts the bits of the number to the left and fills 0 on voids right as a result. Similar effect as of multiplying the number with some power of 2.

In [14]:
a = 5
b = -10

# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a << 1 = 10
b << 1 = -20

-------------------------------------------------------------------------------------------------------------------------------

# Binary  Operators
Binary operators take 2 operands and return a single value as output.
Operand priority is applicable in cases where multiple operators are used in single line eg. 2 + 3 * 8 / 4

## Binary Arithmetic Operators

### Binary + Operator
Can be used for numeric addition, string concatenation, list joining, tuple joining

For floating point operations visit: https://docs.python.org/3/tutorial/floatingpoint.html

In [18]:
### Addition of non-float numeric datatypes
print(2 + 2)
print(2 + 3 + 4)
print(0b01011 + 0b1101)

4
9
24

In [20]:
### Addition of float & fractional numeric data types: please refer https://docs.python.org/3/tutorial/floatingpoint.html
### Floating points and fractions are only approximate representations, so operations may not yield expected results

print(1.90 + 1)
print(0.90 + 1.01)
print(1/6 + 2/3)

print((0.1 + 0.1 + 0.1) == 0.3)

2.9
1.9100000000000001
0.8333333333333333
False

In [15]:
### String concatenation
print("Hello " + "World")   ### String concatenation with both strings in double quotes
print("Hello " + 'World')   ### String concatenation with one string in double quotes, other in single quotes
print('Hello ' + 'World')   ### String concatenation with both strings in single quotes

Hello World
Hello World
Hello World

In [10]:
## Joining lists and tuples

list1 = ['a', 'b', 20, 40, True]
list2 = ['c', 'd', 30, 50, False]
print(list1 + list2)

tuple1 = ('a', 'b', 20, 40, True)
tuple2 = ('c', 'd', 30, 50, False)
print(tuple1 + tuple2)

['a', 'b', 20, 40, True, 'c', 'd', 30, 50, False]

In [1]:
## Attempting to join dictionaries causes error

dict1 = dict(foo=100, bar=200)
dict2 = dict(clu=300, riq=400)
print(dict1 + dict2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
## Attempting to join sets causes error

set1 = set(('a', 'b', 20, 40, True))
set2 = set(('c', 'd', 30, 50, False))
print(set1 + set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

### Binary - Operator
Can be used for subtraction but Cannot be overridden for any string operations

In [25]:
### Subtraction
print(9 - 3)
print(9 - 3 - 4) ### --> Left-sided binding hence result is 9-3=6 then 6-4=2

6
2

In [27]:
list1 = ['a', 'b', 20, 40, True]
list2 = ['a', 'b', 30, 50, False]

print(list1 - list2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [28]:
set1 = set('a', 'b', 20, 40, True)
set2 = set('c', 'd', 30, 50, False)
print(set1 - set2)

TypeError: set expected at most 1 argument, got 5

### Binary * Operator and ** Operator

Binary * Operator Can be used for multiplication and string repetition

Binary ** Operator Can be used for Exponentiation using positive right side operabd, and for fingding Root by using negative right side operand (hence, used as radical operand).

In [71]:
### Multiplication
print(9 * 3)
print(9 * 3 * 4)
print('Hello ' * 3)      ### Prints the string Hello 3 times


### Exponentiation
print(2 ** 3)
print(2 ** 2 ** 3)       ### --> Right-sided binding hence result is 2**3=8 then 2**8=256
print(9 ** 0.5)          ### --> Square root of 9
print(9 ** -0.5)         ### --> 9 to the power -1/2

27
108
Hello Hello Hello
8
256
3.0

### Binary / Operator and // Operator
Can be used for division but Cannot be overridden for any string operations.

Binary / Operator is Default Division which always results in float output <br>
Binary // Operator is Integer Division which results in integer IF both operands are ineteger and the division output is an integer

In [64]:
### Default Division --> Always results in float output
print(6 / 4)
print(6 / 4.)
print(6. / 4)
print(6. / 4.)

print(10/4/2) ### --> Left-sided binding hence result is 10/4=2.5 then 2.5/2=1.25


## Integer Division --> Results in integer IF both operands are ineteger and the division output is an integer
print(6 // -4) ### Integer by Integer division --> Only scenario to yield integer output
print(-6. // -4)
print(6 // 4.)
print(-6. // 4.)

print(10//4//2) ### --> Left-sided binding hence result is 10/4=2 then 2/2=1

1.5
1.5
1.5
1.5
1.25
-2
1.0
1.0
-2.0
1

### Binary % Operator
Cannot be overridden for any string operations

In [65]:
### Remainder Operation
print(14 % 4)
print(-14.9 % -4)
print(14 % -4)

print(394.946474 % 200)
print(194.94647400000002 % 65.4)
print(394.946474 % 200 % 65.4)   ### --> Left-sided binding hence result is 394.946474 % 200=194.94647400000002 
                                 ### then 194.94647400000002 % 65.4=64.14647400000001

2
-2.9000000000000004
-2
194.94647400000002
64.14647400000001
64.14647400000001

### Exponentation
Exponentiation can be done by many ways in python:
most common being ** operator, as well as math.pow() function after importing math library

The expression of the form xey where x & y are both integers yields the result x * (10^y) but as a float

In [8]:
print(10 ** 5)   ## Results in integer type output
print(1e5)       ## Results in float type output
print(1E5)       ## Results in float type output

print(type(10 ** 5)) 
print(type(1e5))
print(type(1E5))

100000
100000.0
100000.0
<class 'int'>
<class 'float'>
<class 'float'>

In [9]:
print(10 ** -5)   ## Results in integer float output
print(1e-5)       ## Results in float type output
print(1E-5)       ## Results in float type output

print(type(10 ** -5)) 
print(type(1e-5))
print(type(1E-5))

1e-05
1e-05
1e-05
<class 'float'>
<class 'float'>
<class 'float'>

In [51]:
x = 5
print(10e(str(x)))

SyntaxError: invalid decimal literal (2990928907.py, line 2)

### Built-in Binary Arithmetic Functions

#### pow() function

pow() function returns the value of x to the power of y (x^y).
If a third parameter is present, it returns x to the power of y, modulus z ((x^y)%z)).

Root can be calculated using the corresponding fraction or decimal number as second argument in pow().

In [1]:
print(pow(4, 3))    ## 4 to the power 3 : 4**3
print(pow(4, 3, 5)) ## 4 to the power 3, then the result being input to modulus 5 : 4**3 % 5

64
4

In [3]:
print(pow(9, 1/2))
print(pow(11, 1.2))

3.0
17.769336928223957

#### divmod() function

**divmod()** returns both quotient and remainder of division of its arguments. The pair is returned as a tuple.

In [13]:
print(divmod(5, 2))

(2, 1)

## Binary Comparison Operators / Relational Operators

In [5]:
a = 9
b = 5

# Output
print(a > b)
print(b > a)

True
False

### Greater Than or Equals Operator (>=)
Returns True if the left operand is greater than or equal to the right operand

In [7]:
a = 9
b = 9
c = 5

# Output
print(a >= b)
print(a >= c)
print(c >= a)

True
True
False

### Less Than Operator (<)
Returns True if the left operand is less than the right operand

In [4]:
a = 9
b = 5

# Output
print(a < b)
print(b < a)

False
True

### Less Than or Equals Operator (<=)
Returns True if the left operand is less than or equal to the right operand

In [8]:
a = 9
b = 9
c = 5

# Output
print(a <= b)
print(a <= c)
print(c <= a)

True
False
True

### Equality Operator (==)
Returns True if the left operand is equal to the right operand

In [9]:
a = 9
b = 9
c = 4


# Output
print(a == b)
print(b == c)

True
False

In [12]:
a = "Hello"
b = 'Hello'
c = "Bye"
d = """Bye"""

# Output
print(a == b)
print(b == a)
print(a == c)
print(c == d)

True
True
False
True

### Inequality Operator (!=)
Returns True if the left operand is not equal to the right operand

In [13]:
a = 9
b = 9
c = 4


# Output
print(a != b)
print(b != c)

False
True

In [15]:
a = "Hello"
b = 'Hello'
c = "Bye"
d = """Bye"""

# Output
print(a != b)
print(b != c)
print(a != c)
print(c != d)

False
True
True
False

###  Identity ('is' and 'is not') Operator

Identity Operators are used to compare the objects to determine if both the objects are of the same data type and share the same memory location (i.e. they reference to same object). The result is a boolean (True or False).

In [16]:
a = 9
b = 4

c = a

# Output
print(a is b)
print(a is c)

False
True

## Binary Logical Operators

#### Order of Precedence of Logical Operators
In the case of multiple operators, Python always evaluates the expression from left to right.

### Binary and Operator
The Boolean AND operator returns True if both the operands are True else it returns False.

In [28]:
a = 10
b = 10
c = -10

# Output
if a > 0 and b > 0:
    print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

In [29]:
a = 10
b = 12
c = 0
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

### Binary or Operator
The Boolean OR operator returns True if either of the operands are True else it returns False.

In [30]:
a = 10
b = -10
c = 0
if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")
if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [31]:
a = 10
b = 12
c = 0
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

## Binary Bitwise Operators

Binary bitwise operators are used to perform bitwise calculations on **2 integers**. The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits. The result is then returned in decimal format.

Using non-integers as operands results in error.

### Binary & Operator

Bitwise AND (&) compares corresponding bits of two operands - if the bits in the compared positions of the bit patterns are 1, then the resulting bit is 1, otherwise it is 0.

In [6]:
## Bitwise AND on integers
a = 7
b = 4

## Bitwise AND of 111 (7) and 100 (4) results in 100 (4)
print("a & b =", a & b)

a & b = 4

In [1]:
## Bitwise AND on float
a = 10.6
b = 4.7

print("a & b =", a & b)

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [3]:
## Bitwise AND on string
a = "hello"
b = "Bye"

print("a & b =", a & b)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

### Bitwise OR Operator

Bitwise OR (|) Operator compares corresponding bits of two operands -  if the two bits in the looked-at position are 0, the result is 0 otherwise it is 1.

In [8]:
a = 7
b = 4

## Bitwise OR of 111 (7) and 100 (4) results in 111 (7)
print("a | b =", a | b)

a | b = 7

In [4]:
## Bitwise OR on float
a = 10.6
b = 4.7

print("a | b =", a | b)

TypeError: unsupported operand type(s) for |: 'float' and 'float'

In [5]:
## Bitwise OR on string
a = "hello"
b = "Bye"

print("a | b =", a | b)

TypeError: unsupported operand type(s) for |: 'str' and 'str'

### Bitwise XOR Operator

Bitwise XOR (^) Operator compares corresponding bits of two operands - if the bits are different, it returns 1, otherwise, it returns 0.

In [12]:
a = 7
b = 4

# Bitwise XOR of 111 (7) and 100 (4) results in 011 (3)
print("a ^ b =", a ^ b)

a ^ b = 3

In [6]:
## Bitwise XOR on float
a = 10.6
b = 4.7

print("a ^ b =", a ^ b)

TypeError: unsupported operand type(s) for ^: 'float' and 'float'

In [7]:
## Bitwise OR on string
a = "hello"
b = "Bye"

print("a ^ b =", a ^ b)

TypeError: unsupported operand type(s) for ^: 'str' and 'str'

--------------------------------------------------

---------------------------------------------------

# Assignment Operators
Assignment operations involve a variable on left side and a constant or another variable on the right side.

Assignment operations can be simple assignment of value to a variable using '=' operator or combine '=' with arithmetic operators when assigning a new value based the old value of a variable to the same variable itself: eg. increment, decrement

## Simple Assignment

In [31]:
x = 5          ### Assigns the value 5 to variable x
x,y,z = 5,6,7  ### Simultaneous assignment of the values 5,6,7 to variables x,y,z


print(x,y,z)

5 6 7

In [32]:
x,y,z = 5,6,7, 8
print(x,y,z)

ValueError: too many values to unpack (expected 3)

## Shortening Arithmetic Operations with Assignment Operator <- Increment & Decrement Operators

Arithmetic operations re-assigning a new value based on older value of a variable can be shortened by typing operator and assignment operator together.

In [43]:
#### Shortening Increment
print("Shortening Increment / Addition")
z = 7
z = z + 1
print("Output for z = z + 1 : " + str(z))

z = 7
z += 1
print("Output for z+=1 : " + str(z))


#### Shortening Decrement
print("Shortening Decrement / Subtraction")
z = 7
z = z - 1
print("Output for z = z - 1 : " + str(z))

z = 7
z -= 1
print("Output for z-=1 : " + str(z))


#### Shortening Multiplication
print("Shortening Multiplication")
x = 5
x = x * 2
print("Output for x = x * 2 : " + str(x))

x = 5
x *= 2
print("Output for x*=2 : " + str(x))


#### Shortening Exponentiation
print("Shortening Exponentiation")
x = 5
x = x**2
print("Output for x = x**2 : " + str(x))

x = 5
x **= 2
print("Output for x**=2 : " + str(x))


#### Shortening Division
print("Shortening Division")
y = 5
y = y / 2
print("Output for y = y / 2 : " + str(y))

y = 5
y /= 2
print("Output for y/=2 : " + str(y))


#### Shortening Floor Division
print("Shortening Floor Division")
y = 5
y = y // 2
print("Output for y = y // 2 : " + str(y))

y = 5
y //= 2
print("Output for y//=2 : " + str(y))


#### Shortening Modulus
print("Shortening Modulus")
w = 10
w = w % 2
print("Output for w = w % 2 : " + str(w))

w = 10
w %= 2
print("Output for w%=2 : " + str(w))

Shortening Increment / Addition
Output for z = z + 1 : 8
Output for z+=1 : 8
Shortening Decrement / Subtraction
Output for z = z - 1 : 6
Output for z-=1 : 6
Shortening Multiplication
Output for x = x * 2 : 10
Output for x*=2 : 10
Shortening Exponentiation
Output for x = x**2 : 25
Output for x**=2 : 25
Shortening Division
Output for y = y / 2 : 2.5
Output for y/=2 : 2.5
Shortening Floor Division
Output for y = y // 2 : 2
Output for y//=2 : 2
Shortening Modulus
Output for w = w % 2 : 0
Output for w%=2 : 0

## Shortening Bitwise Operations with Assignment Operator

Binary Bitwise Operations can be shortened by assigning the resultant value to one of the variables as part of the operation expression itself.
Expression shortening is not applicable to Unary Bitwise Operators as the value is assigned to the operand variable itself.

In [44]:
#### Shortening Bitwise AND
print("Shortening Bitwise AND")
a = 7
b = 4

print("Output for a & b = :", a & b)

a&=b
print("Output for a&=b :", a)


#### Shortening Bitwise OR
print("Shortening Bitwise OR")
a = 7
b = 4

print("Output for a | b = :", a | b)

a|=b
print("Output for a|=b :", a)


#### Shortening Bitwise XOR
print("Shortening Bitwise XOR")
a = 7
b = 4

print("Output for a ^ b = :", a ^ b)

a^=b
print("Output for a^=b :", a)

Shortening Bitwise AND
Output for a & b = : 4
Output for a&=b : 4
Shortening Bitwise OR
Output for a | b = : 7
Output for a|=b : 7
Shortening Bitwise OR
Output for a | b = : 7
Output for a|=b : 7
Shortening Bitwise XOR
Output for a | b = : 3
Output for a|=b : 3

## Shortening Logical Operations with Assignment Operator -> Results in error

Binary Logical Operations cannot be shortened. Trying to do so generates SyntaxError.

In [51]:
#### Shortening Logical AND
print("Shortening Logical AND")
a = 7
b = 4

print("Output for a & b = :", a and b)

a and = b
print("Output for a and= b :", a)


#### Shortening Logical OR
print("Shortening Logical OR")
a = 7
b = 4

print("Output for a or b = :", a or b)

a or = b
print("Output for a or= b :", a)

SyntaxError: invalid syntax (3713995852.py, line 8)

## Walrus Operator

Walrus Operator allows assigning a value to a variable within an expression. This can be useful when it is needed to use the value multiple times in a loop without repeating the calculation.

**References:**

https://www.geeksforgeeks.org/walrus-operator-in-python-3-8/

https://www.codingninjas.com/studio/library/python-walrus-operator

In [57]:
sample_data = [
    {"userId": 1,  "name": "rahul", "completed": False},
    {"userId": 2, "name": "rohit", "completed": True},
    {"userId": 3,  "name": "ram", "completed": False},
    {"userId": 4,  "name": "madhav", "completed": True}
]
 
print("With Walrus Operator:") 
for entry in sample_data: 
    if name := entry.get("name"):
        print(f'Found name: "{name}"')

print('\n')
print("Without Walrus operator:")
for entry in sample_data:
    name = entry.get("name")
    if name:
        print(f'Found name: "{name}"')

With Walrus Operator:
Found name: "rahul"
Found name: "rohit"
Found name: "ram"
Found name: "madhav"


Without Walrus operator:
Found name: "rahul"
Found name: "rohit"
Found name: "ram"
Found name: "madhav"

In [58]:
## Without Walrus Operator
print("Without Walrus Operator:") 
foods = list()
while True:
    food = input("What food do you like?: ")
    if food == "quit":
        break
        foods.append(food)

print('\n')
# With Walrus Operator
print("With Walrus operator:")
foods1 = list()
while (food := input("What food do you like:=  ")) != "quit":
    foods.append(food)

Without Walrus Operator:
What food do you like?: Apple
What food do you like?: Orange
What food do you like?: quit


With Walrus operator:
What food do you like:=  Mango
What food do you like:=  Plum
What food do you like:=  quit

## Self Documenting Assignment Operator

Assignment(=) operator in f-string can be used for self documenting the strings in Python 3.8.2 & above. With the help of this expression, words same as variable names can be specified allowing simultaneous usage as string and variable.

In [30]:
length = len('BeginnerPython') 

## Regular usage of f'{expr}' allows mentioning variable name to get its value
print("Regular usage of f'{expr}'")
bp = f'The length of BeginnerPython is {length}.'
print(bp) 

print('\n')

## f'{expr=}' allows mentioning variable name as string while simultaneously also able to get its value
print("Using f'{expr =}' expression")
bp = f'The length of BeginnerPython is {length=}.'
print(bp)

Regular usage of f'{expr}'
The length of BeginnerPython is 14.


Using f'{expr =}' expression
The length of BeginnerPython is length=14.

--------------------------------------------------

---------------------------------------------------

## Binary Membership Operators

Python membership operators test for the membership of an object in a sequence, like strings, lists, or tuples. The result is a boolean (True or False).

* For sequence collections like strings, tuples, lists, setsc etc, 'IN' operator checks for membership in elements of the collection.
* For key-value collections like dictionaries, 'IN' operator checks for membership in KEYS of the collection.

### Binary 'IN' and 'NOT IN' Operators

In [3]:
## For sequence collections like strings, tuples, lists, sets etc, 'IN' operator checks for membership in elements of the collection.

print("Membership 'in' operator")
print('"e" in "Hello": ', "e" in "Hello")


print("Membership 'not in' operator")
print('"e" not in "Hello": ', "e" not in "Hello")

Membership 'in' operator
"e" in "Hello":  True
Membership 'not in' operator
"e" not in "Hello":  False

In [7]:
## For key-value collections like dictionaries, 'IN' operator checks for membership in keys of the collection.

dict1 = {"a": 1, 3: 8, "c": "Hello"}
print("a" in dict1)
print(3 in dict1)
print("Hello" in dict1)

True
True
False

### Binary 'contains()' function

This function, available in built-in operator library, checks if its 2nd argument is a member of its 1st argument.

In [6]:
import operator

print(operator.contains("Hello", "h"))
print(operator.contains([1,2,3,4,6], 1))

False
True