## Unary Operators
Unary Operators take only one operand.
Examples of such operators include sign change, logical negation, factorial etc.

Unary operators have higher priority than binary operators, and are evaluated first in any expression

Factorial and other unary operators that need libraries to be installed are not covered in this notebook

In [72]:
### Unary - operator changes the sign of the input numeric data type

print(-4)  ### print an integer with negative sign
print(-4.5)  ### print an integer with negative sign
print(-(-4))  ### sign change a negative value integer
print(-0b1011) ### convert binary number to integer and change sign

-4
-4.5
4
-11

In [73]:
### Unary + operator doesnt actually do anything - the input remains unchanged and is yielded as output

print(+4)  
print(+4.5)  
print(+4j)  
print(+0b1011)

4
4.5
4j
11

In [79]:
### Unary not operator is the logical negation operator. It changes boolean values to opposite one : False to True and True to False
print(not (True))
print(not (False))

print(not (-4j))     ### changing boolean value of a numeric datatype
print(not ("Hello")) ### changing boolean value of a string datatype
print(not (0))       ### changing boolean value of 0

False
True
False
False
True

### Built-in Unary Arithmetic Operators

abs() function results in absolute value i.e. magnitude of a number: 
1. For Rational Numbers, it corresponds to the value without minus sign for negative number and the number itself for a non-negative number.
2. For Complex Numbers, it corresponds to the magnitude. for a complex number a+jb, magnitude = √a² + b²

In [16]:
print(abs(-7.25))
print(abs(3+5j))

7.25
5.830951894845301

round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.
    The default number of decimals is 0, meaning that the function will return the nearest integer.

In [17]:
print(round(5.76543))
print(round(5.76543, 2))

6
5.77

-------------------------------------------------------------------------------------------------------------------------------

## Binary Operators
Binary operators take 2 operands and return a single value as output.
Operand priority is applicable in cases where multiple operators are used in single line eg. 2 + 3 * 8 / 4

##### + Operator
Can be used for numeric addition, string concatenation, list joining, tuple joining

For floating point operations visit: https://docs.python.org/3/tutorial/floatingpoint.html

In [18]:
### Addition of non-float numeric datatypes
print(2 + 2)
print(2 + 3 + 4)
print(0b01011 + 0b1101)

4
9
24

In [20]:
### Addition of float & fractional numeric data types: please refer https://docs.python.org/3/tutorial/floatingpoint.html
### Floating points and fractions are only approximate representations, so operations may not yield expected results

print(1.90 + 1)
print(0.90 + 1.01)
print(1/6 + 2/3)

print((0.1 + 0.1 + 0.1) == 0.3)

2.9
1.9100000000000001
0.8333333333333333
False

In [15]:
### String concatenation
print("Hello " + "World")   ### String concatenation with both strings in double quotes
print("Hello " + 'World')   ### String concatenation with one string in double quotes, other in single quotes
print('Hello ' + 'World')   ### String concatenation with both strings in single quotes

Hello World
Hello World
Hello World

In [10]:
## Joining lists and tuples

list1 = ['a', 'b', 20, 40, True]
list2 = ['c', 'd', 30, 50, False]
print(list1 + list2)

tuple1 = ('a', 'b', 20, 40, True)
tuple2 = ('c', 'd', 30, 50, False)
print(tuple1 + tuple2)

['a', 'b', 20, 40, True, 'c', 'd', 30, 50, False]

In [23]:
dict1 = dict(foo=100, bar=200)
dict2 = dict(clu=300, riq=400)
print(dict1 + dict2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [29]:
set1 = set(('a', 'b', 20, 40, True))
set2 = set(('c', 'd', 30, 50, False))
print(set1 + set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

##### - Operator
Cannot be overridden for any string operations

In [25]:
### Subtraction
print(9 - 3)
print(9 - 3 - 4) ### --> Left-sided binding hence result is 9-3=6 then 6-4=2

6
2

In [27]:
list1 = ['a', 'b', 20, 40, True]
list2 = ['a', 'b', 30, 50, False]

print(list1 - list2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [28]:
set1 = set('a', 'b', 20, 40, True)
set2 = set('c', 'd', 30, 50, False)
print(set1 - set2)

TypeError: set expected at most 1 argument, got 5

##### * Operator
Can be overridden for string repetition

In [71]:
### Multiplication
print(9 * 3)
print(9 * 3 * 4)
print('Hello ' * 3)      ### Prints the string Hello 3 times


### Exponentiation
print(2 ** 3)
print(2 ** 2 ** 3)       ### --> Right-sided binding hence result is 2**3=8 then 2**8=256
print(9 ** 0.5)          ### --> Square root of 9
print(9 ** -0.5)         ### --> 9 to the power -1/2

27
108
Hello Hello Hello
8
256
3.0

##### / Operator
Cannot be overridden for any string operations

In [64]:
### Default Division --> Always results in float output
print(6 / 4)
print(6 / 4.)
print(6. / 4)
print(6. / 4.)

print(10/4/2) ### --> Left-sided binding hence result is 10/4=2.5 then 2.5/2=1.25


## Integer Division --> Results in integer IF both operands are ineteger and the division output is an integer
print(6 // -4) ### Integer by Integer division --> Only scenario to yield integer output
print(-6. // -4)
print(6 // 4.)
print(-6. // 4.)

print(10//4//2) ### --> Left-sided binding hence result is 10/4=2 then 2/2=1

1.5
1.5
1.5
1.5
1.25
-2
1.0
1.0
-2.0
1

##### % Operator
Cannot be overridden for any string operations

In [65]:
### Remainder Operation
print(14 % 4)
print(-14.9 % -4)
print(14 % -4)

print(394.946474 % 200)
print(194.94647400000002 % 65.4)
print(394.946474 % 200 % 65.4)   ### --> Left-sided binding hence result is 394.946474 % 200=194.94647400000002 
                                 ### then 194.94647400000002 % 65.4=64.14647400000001

2
-2.9000000000000004
-2
194.94647400000002
64.14647400000001
64.14647400000001

#### Exponentation
Exponentiation can be done by many ways in python:
most common being ** operator, as well as math.pow() function after importing math library

The expression of the form xey where x & y are both integers yields the result x * (10^y) but as a float

In [8]:
print(10 ** 5)   ## Results in integer type output
print(1e5)       ## Results in float type output
print(1E5)       ## Results in float type output

print(type(10 ** 5)) 
print(type(1e5))
print(type(1E5))

100000
100000.0
100000.0
<class 'int'>
<class 'float'>
<class 'float'>

In [9]:
print(10 ** -5)   ## Results in integer float output
print(1e-5)       ## Results in float type output
print(1E-5)       ## Results in float type output

print(type(10 ** -5)) 
print(type(1e-5))
print(type(1E-5))

1e-05
1e-05
1e-05
<class 'float'>
<class 'float'>
<class 'float'>

In [51]:
x = 5
print(10e(str(x)))

SyntaxError: invalid decimal literal (2990928907.py, line 2)

### Built-in Binary Arithmetic Operators

pow() function returns the value of x to the power of y (x^y).
If a third parameter is present, it returns x to the power of y, modulus z ((x^y)%z)).

In [20]:
print(pow(4, 3))    ## 4 to the power 3 : 4**3
print(pow(4, 3, 5)) ## 4 to the power 3, then the result being input to modulus 5 : 4**3 % 5

64
4

divmod() returns both quotient and remainder of division of its arguments. The pair is returned as a tuple.

In [13]:
print(divmod(5, 2))

(2, 1)

--------------------------------------------------------------------------------------------------------------------------------

### Assignment Operators
Assignment operations involve a variable on left side and a constant or another variable on the right side.

Assignment operations can be simple assignment of value to a variable using '=' operator or combine '=' with arithmetic operators when assigning a new value based the old value of a variable to the same variable itself: eg. increment, decrement

#### Simple Assignment

In [1]:
x = 5          ### Assigns the value 5 to variable x
x,y,z = 5,6,7  ### Simultaneous assignment of the values 5,6,7 to variables x,y,z


print(x,y,z)

5 6 7

#### Shortening Arithmetic Operations with Assignment Operator

In [6]:
### Arithmetic operations re-assigning a new value based on older value of a variable can be shortened 
### by typing operator and assignment operator together

#### Shortening Increment
print("Shortening Addition")
z = 7
z = z + 1
print("Output for z = z + 1 : " + str(z))

z = 7
z +=1
print("Output for z+=1 : " + str(z))


#### Shortening Decrement
z = 7
z = z - 1
print("Output for z = z - 1 : " + str(z))

z = 7
z -=1
print("Output for z-=1 : " + str(z))


#### Shortening Multiplication
x = 5
x = x * 2
print("Output for x = x * 2 : " + str(x))

x = 5
x *= 2
print("Output for x*=2 : " + str(x))


#### Shortening Exponentiation
x = 5
x = x**2
print("Output for x = x**2 : " + str(x))

x = 5
x **= 2
print("Output for x**=2 : " + str(x))


#### Shortening Division
y = 5
y = y / 2
print("Output for y = y / 2 : " + str(y))

y = 5
y /= 2
print("Output for y/=2 : " + str(y))


#### Shortening Floor Division
y = 5
y = y // 2
print("Output for y = y // 2 : " + str(y))

y = 5
y //= 2
print("Output for y//=2 : " + str(y))


#### Shortening Modulus
w = 10
w = w % 2
print("Output for w = w % 2 : " + str(w))

w = 10
w %= 2
print("Output for w%=2 : " + str(w))

Shortening Addition
Output for z = z + 1 : 8
Output for z+=1 : 8
Output for z = z - 1 : 6
Output for z-=1 : 6
Output for x = x * 2 : 10
Output for x*=2 : 10
Output for x = x**2 : 25
Output for x**=2 : 25
Output for y = y / 2 : 2.5
Output for y/=2 : 2.5
Output for y = y // 2 : 2
Output for y//=2 : 2
Output for w = w % 2 : 0
Output for w%=2 : 0