# Python built-in `built-ins` library Immutable Collections

This notebook covers collections available in built-ins library of Python:
- tuples
- ranges
- frozensets
- strings

Following operations are covered for these collections:
- Initialising an empty immutable collection
- Initialising a general non-empty immutable collection

# Collection Classifications

Python Collections can be classified as follows based on mutability:

- Mutable : Can be updated after creation
- Immutable : Cannot be updated after creation

Python Collections can be classified as follows based on ordering of elements:

- Ordered : order of input elements is maintained
- Unordered : order of input elements is not maintained

A sequence or collection can therofore be classified on basis of mutability and orderedness.

# Built-ins library Collections

## Built-ins library Immutable Collections

### `tuple`

`tuple` is an immutable ordered sequence of heterogenous elements.

`tuple()` constructor can take a tuple, list or range as input to construct a tuple.
Tuples can be given as input iterators to `list()` constructor to construct a list.

**Initialising tuples:**
- Empty parenthesis`()` without arguments or the `tuple()` constructor without arguments initialise an empty tuple.
  - An empty tuple can also be created by inputting an empty sequence of any type as argument to `tuple()`constructor or `()`. <br>
 
- A non-empty tuple can be initiliased by giving a sequence of values and/or variables as input to `()` or `tuple()`.
  - `()` can take input sequence directly -> `(1,2,3,4,6, "Hello", 0)` is a tuple in itself.
  - `tuple()`constructor takes a sequence as its single argument as input -> `tuple((1,2,3,4,6, "Hello", 0))` generates an actual tuple. 

**Mutability of tuple elements:**
- It is not possible to modify items of a tuple, however it is possible to create tuples which contain mutable objects, such as lists. <br>
  Reference: [Python Docs](https://docs.python.org/3/tutorial/datastructures.html)

#### Initialise an empty tuple
Empty parenthesis`()` without arguments or the `tuple()` constructor without arguments initialise an empty tuple. <br>
An empty tuple can also be created by inputting an empty sequence of any type as argument to `tuple()`constructor or `()`.

In [110]:
### Initiliase an empty tuple

emptyTuple1 = ()
emptyTuple2 = tuple()

print(f"Empty tuple created using empty parenthesis `()`: {emptyTuple1}")
print(f"Empty tuple created using `tuple()` constructor with no arguments {emptyTuple2}")

Empty tuple created using empty parenthesis `()`: ()
Empty tuple created using `tuple()` constructor with no arguments ()

In [114]:
emptyTuple3 = tuple(())
print(f"Empty tuple created using `()` inside tuple(): {emptyTuple3}")

emptyTuple4 = (())
print(f"Empty tuple created using `()` inside `()`: {emptyTuple4}")


emptyTuple5 = tuple([])
print(f"Empty tuple created using `[]` inside tuple(): {emptyTuple3}")

emptyTuple6 = ([])
print(f"Empty tuple created using `[]` inside `()`: {emptyTuple4}")


emptyTuple5 = tuple("")
print(f"Empty tuple created using empty string inside tuple(): {emptyTuple3}")

emptyTuple6 = ("")
print(f"Empty tuple created using empty string inside `()`: {emptyTuple4}")

Empty tuple created using `()` inside tuple(): ()
Empty tuple created using `()` inside `()`: ()
Empty tuple created using `[]` inside tuple(): ()
Empty tuple created using `[]` inside `()`: ()
Empty tuple created using empty string inside tuple(): ()
Empty tuple created using empty string inside `()`: ()

#### Initialise a general non-empty tuple

A non-empty tuple can be initiliased by giving a sequence of values and/or variables as input to `()` or `tuple()`.

- `()` can take input sequence directly -> `(1,2,3,4,6, "Hello", 0)` is a tuple in itself.
- `tuple()`constructor takes a sequence as its single argument as input -> `tuple((1,2,3,4,6, "Hello", 0))` generates an actual tuple.

In [ ]:
### Initialise tuple by providing input sequence to `()`

tuple1 = (1,2,3,4,6, "Hello", 0)
print(f"Tuple initialised by providing input sequence to `()`: {tuple1}")

### Initialise tuple by providing input sequence to `tuple()`
tuple2 = tuple((1,2,3,4,6, "Hello", 0))  ## `tuple()` constructor 
print(f"Tuple initialised by providing input sequence to `tuple()` constructor: {tuple2}")

#### Updating mutable elements of a tuple

While individual elements of a tuple cannot be modified, it is possible to create tuples which contain mutable objects, such as lists.

- It should be noted that while string class provides a replace() method for "replacing" existing characters with new characters, this method actually generates a new string, leaving original string unchanged. Hence, if a string is an element in a tuple, using replace() method will not modify the actual element.

In [89]:
tuple_withMutableElement = tuple(([1,2,3,4], "Hello", 9,8,7,))
print(f"Initialise tuple with a list element: {tuple_withMutableElement}")

tuple_withMutableElement[0][1] = 9
print(f"Tuple with its list element updated: {tuple_withMutableElement}")

Initialise tuple with a list element: ([1, 2, 3, 4], 'Hello', 9, 8, 7)
Tuple with its list element updated: ([1, 9, 3, 4], 'Hello', 9, 8, 7)

In [94]:
### It should be noted that while string class provides a replace() method for "replacing" existing characters with new characters,
### this method actually generates a new string, leaving original string unchanged.
### Hence, if a string is an element in a tuple, using replace() method will not modify the actual element.

print(f"Replacing characters of string element of a tuple: {tuple_withMutableElement[1].replace("H", "h")}")
print(f"Printing tuple after replacing characters of its string element: {tuple_withMutableElement}")

Replacing characters of string element of a tuple: hello
Printing tuple after replacing characters of its string element: ([1, 9, 3, 4], 'Hello', 9, 8, 7)

### `frozenset`

`frozenset` is an unordered, immutable and hashable set — its contents cannot be altered after it is created; it can therefore be used as a dictionary key or as an element of another set.

To represent sets of sets, the inner sets must be frozenset objects.

An frozenset can be initialised using `frozenset([iterable])`constructor. <br>
If iterable is not specified, a new empty set is returned.

#### Initialise frozen set

- An empty frozenset can be initialised using empty `frozenset()`constructor.
- A non-empty frozenset can be initialised by providing a sequence like a list or tuple as input to `frozenset()`constructor.

In [117]:
# Initialise an empty frozenset
emptyFrozenSet = frozenset()
print(f"Empty frozenset: {emptyFrozenSet}")

Empty frozenset: frozenset()

In [118]:
# Initialise a non-empty frozenset with arbitrary values
nonemptyFrozenSet1 = frozenset(("apple", "banana", "cherry", "apple"))
nonemptyFrozenSet2 = frozenset(["apple", "banana", "cherry", "apple"])

# Print both frozensets using f-strings
print(f"Non-empty frozenset created using tuple as input to `frozenset()`constructor : {nonemptyFrozenSet1}")
print(f"Non-empty frozenset created using list as input to `frozenset()`constructor : {nonemptyFrozenSet2}")

Non-empty frozenset created using tuple as input to `frozenset()`constructor : frozenset({'cherry', 'apple', 'banana'})
Non-empty frozenset created using list as input to `frozenset()`constructor : frozenset({'cherry', 'apple', 'banana'})

### `range`

`range` is an immutable ordered sequence of numbers.

Ranges implement all of the common sequence operations except concatenation and repetition (due to the fact that range objects can only represent sequences that follow a strict pattern and repetition and concatenation will usually violate that pattern).


`range([start], stop, [step=1])` function generates an immutable sequence of numbers, starting from the optional argument `start`, ending one `step` (by default 1) before the mandatory `end` argument. <br>
<font color="#df2234">All arguments in range() function should be integers. </font>

Printing a range requires it to first input to a list:
- Either input the range to `list()` constructor
- Or unpack the range using Unpacking operator `*` inside `[]`

#### Initialise an empty range

An empty range can be initialised using following methods:
- `range(0)`
- `range(x,x)` -> keep start and stop as same
- `range(start,stop,step)` where start>stop and step>stop, so start never reaches stop and generates an empty range
- `range(start,stop,step)` where stop>start and step<0, so start never reaches stop and generates an empty range

In [138]:
### Zero stop
print(f"range(0): {[*range(0)]}")

### Start = stop
print(f"range(5, 5): {[*range(5, 5)]}")

### Start>Stop and Positive step that skips past the stop
print(f"range(10, 0, 1): {[*range(10, 0, 1)]}")

### Stop>Start and Negative step so start never reaches stop and generates an empty range
print(f"range(0, 10, -1): {[*range(0, 10, -1)]}")

range(0): []
range(5, 5): []
range(10, 0, 1): []
range(0, 10, -1): []

#### Initialise a general non-empty range

Non-Empty Ranges can be used to create numeric sequences of integers in ascending order or descending order.

In [103]:
### Create a range of numbers in increasing order

print("Printing range using unpacking operator inside `[]`")
print(f"Range of natural numbers in increasing order: {[*range(10)]}")
print(f"Range of natural numbers in increasing order starting from 5: {[*range(5, 10)]}")

print("Printing range using `list()` constructor")
print(f"Range of natural numbers in increasing order: {list(range(10))}")
print(f"Range of natural numbers in increasing order starting from 5: {list(range(5, 10))}")

Printing range using unpacking operator inside `[]`
Range of natural numbers in increasing order: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Range of natural numbers in increasing order starting from 5: [5, 6, 7, 8, 9]
Printing range using `list()` constructor
Range of natural numbers in increasing order: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Range of natural numbers in increasing order starting from 5: [5, 6, 7, 8, 9]

### `string`

Strings are immutable sequences of Unicode code points.
Single quoted and Double quoted strings can span only single lines.
Triple quoted strings may span multiple lines - all associated whitespace will be included in the string literal.

String literals that are part of a single expression and have only whitespace between them will be implicitly converted to a single string literal. That is, `("spam " "eggs")` == `"spam eggs"`.

Strings implement all of the common sequence operations, along with additional methods of String class.

Empty quotes of any type, `''`, `""` or `""""""` , or `str()` constructor without arguments initialise an empty string.

#### Initialise an empty string
Empty quotes of any type, `''`, `""` or `""""""` , or `str()` constructor without arguments initialise an empty string.

In [12]:
### Initiliase an empty string

emptyString_SingleQuotes = ''
emptyString_DoubleQuotes = ""
emptyString_TripleDoubleQuotes = """"""
emptyString_strConstructor = str()


print(f"Empty string created using empty single quotes `''`: {emptyString_SingleQuotes}")
print(f"Empty string created using empty double quotes `\"\"`: {emptyString_DoubleQuotes}")  ## inner quotes `"` escaped using `\` character
 print(f'Empty string created using empty triple double quotes `""""""`: {emptyString_TripleDoubleQuotes}')
print(f"Empty string created using empty str() constructor `''`: {emptyString_strConstructor}")

Empty string created using empty single quotes `''`:
Empty string created using empty double quotes `""`:
Empty string created using empty triple double quotes `""""""`:
Empty string created using empty str() constructor `''`:

#### Initialise a general string

A string can be initiliased by directly proding the string value in quotes of any type, or by providing the string in `str()` constructor

Multi-line strings need to be initialised using triple double quotes.
Multi-line strings retain the internal formatting including line feeds.

- If quotes need to be provided inside a string, they should be given as follows:
  - either the quotes inside string need to be of different type from the actual string's initialisers: double quotes inside single quote string, or single quotes inside double quote string
  - or each quote character needs to be escaped using '\' character

- Double quoted strings remove the need for escaping apostrophes, which are essentially a single quote character
  - Characters like single quotes / apostrophe can be optionally preceded by an escape character '\' as well

- `r` character can be used before the starting quote to indicate a raw string. It can be used as an indicator to escape all special characters inside the string.
   - Inside f-strings, characters or strings to be escaped can be enclosed inside curly braces and then quotes preceded by - `r` character.

In [14]:
### Initialising single line strings

x = 'Hello World' ### Initialising single line string using single quotes
print(f"Single line string initialsed using single quotes: {x}")

y = "Hello World" ### Initialising single line string using double quotes
print(f"Single line string initialsed using double quotes: {y}")

Single line string initialsed using single quotes: Hello World
Single line string initialsed using double quotes: Hello World

In [17]:
x = 'Hello World. I\'m Admin' ### Initialising single line string with apostrophe using single quotes, using escape character
print(f"Single line string initialsed using single quotes: {x}")

y = "Hello World. I'm Admin" ### Initialising single line string with apostrophe using double quotes, without escape character
print(f"Single line string initialsed using double quotes: {y}")

z = "Hello World. I\'m Admin" ### Initialising single line string with apostrophe using double quotes, using escape character
print(f"Single line string initialsed using double quotes: {z}")

Single line string initialsed using single quotes: Hello World. I'm Admin
Single line string initialsed using double quotes: Hello World. I'm Admin
Single line string initialsed using double quotes: Hello World. I'm Admin

In [4]:
### Initialise multi-line strings using single quotes -> generates error

x = 'Hello 
World' ## Initialises with single quotes

SyntaxError: unterminated string literal (detected at line 3) (2528530074.py, line 3)

In [5]:
### Initialise multi-line strings using double quotes -> generates error

y = "Hello 
World" ## Initialises with double quotes

SyntaxError: unterminated string literal (detected at line 3) (450213136.py, line 3)

In [6]:
### Initialise multi-line strings using single quotes in str() constructor-> generates error
v = str('Hello 
        World')  ## Initialise using constructor with single quotes

SyntaxError: unterminated string literal (detected at line 2) (1241559799.py, line 2)

In [7]:
### Initialise multi-line strings using double quotes in str() constructor -> generates error
w = str("Hello 
        World")  ## Initialise using constructor with double quotes

SyntaxError: unterminated string literal (detected at line 2) (2486735363.py, line 2)

In [31]:
### Initialise multi-line strings using triple double quotes

multiline_string = """Hello 
World
"""

print(multiline_string)

Hello
World

#### Escape characters usage

- If quotes need to be provided inside a string, they should be given as follows:
  - either the quotes inside string need to be of different type from the actual string's initialisers: double quotes inside single quote string, or single quotes inside double quote string
  - or each quote character needs to be escaped using '\' character

- Double quoted strings remove the need for escaping apostrophes, which are essentially a single quote character
  - Characters like single quotes / apostrophe can be optionally preceded by an escape character '\' as well

- `r` character can be used before the starting quote to indicate a raw string. It can be used as an indicator to escape all special characters inside the string.
   - Inside f-strings, characters or strings to be escaped can be enclosed inside curly braces and then quotes preceded by - `r` character. This is not applicable for quote characters themselves as they indicate start of strings.

In [78]:
### `\` character used to escape both the double quote character inside input string,
### as well as `\` character itself inside the outer f-string expression.
print(f"Double Quote String with Double Quote Character inside, escaped using '\\' character: {"Hello \" World"}")

Double Quote String with Double Quote Character inside, escaped using '\' character: Hello " World

In [79]:
### using `r` character to escape {} as string characters
print(f"Double Quote String with {r"{}"} inside")

Double Quote String with {} inside

#### Extracting individual string characters using other collection classes

##### **Extracting individual string characters including duplicates**

`tuple()` constructor, `list()` constructor and tuple operator `()` can be used extract individual characters of a string, including duplicate characters.
- If a string has whitespace characters, they are extracted as individual whitespace characters in the tuple / list.
- For `tuple()` constructor and `list()` constructor, the string should be input as the single entry inside its own parenthesis i.e. the constructors essentially receive a tuple with single entry as input : `tuple((string))` or `list((string))`

- `tuple()` constructor and parenthesis `()` output a tuple of characters while `list()` constructor outputs a list of characters
- Inputting a single-entry tuple of string to brackets `[]` output a list with the whole string as entry instead

In [52]:
### Extracting individual string characters including duplicates using `tuple()` constructor

string_tuple1 = tuple(("Hello"))
print(f"Extracting individual string characters including duplicates using `tuple()` constructor: {string_tuple1}")

string_tuple2 = tuple(("Hello  World"))
print(f"Extracting individual string characters including duplicates using `tuple()` constructor: {string_tuple2}")

Extracting individual string characters including duplicates using `tuple()` constructor: ('H', 'e', 'l', 'l', 'o')
Extracting individual string characters including duplicates using `tuple()` constructor: ('H', 'e', 'l', 'l', 'o', ' ', ' ', 'W', 'o', 'r', 'l', 'd')

In [53]:
string_tuple1 = ("Hello")
print(f"Extracting individual string characters including duplicates using `()`: {string_tuple1}")

string_tuple2 = ("Hello  World")
print(f"Extracting individual string characters including duplicates using `()`: {string_tuple2}")

Extracting individual string characters including duplicates using `()`: Hello
Extracting individual string characters including duplicates using `()`: Hello  World

In [57]:
### Extracting individual string characters including duplicates using `list()` constructor

string_list1 = list(("Hello"))
print(f"Extracting individual string characters including duplicates using `list()` constructor: {string_list1}")

string_list2 = list(("Hello  World"))
print(f"Extracting individual string characters including duplicates  `list()` constructor: {string_list2}")

Extracting individual string characters including duplicates using `list()` constructor: ['H', 'e', 'l', 'l', 'o']
Extracting individual string characters including duplicates  `list()` constructor: ['H', 'e', 'l', 'l', 'o', ' ', ' ', 'W', 'o', 'r', 'l', 'd']

In [58]:
string_list1 = [("Hello")]
print(f"Inputting `(string)` to `[]`: {string_list1}")

string_list2 = [("Hello  World")]
print(f"Inputting `(string)` to `[]`: {string_list2}")

Inputting `(string)` to `[]`: ['Hello']
Inputting `(string)` to `[]`: ['Hello  World']

In [50]:
### Inputting multiple strings to `list()` constructor

string_list = list(("Hello", "World"))
print(f"Inputting multiple strings to `list()` constructor: {string_list}")

Inputting multiple strings to `list()` constructor: ['Hello', 'World']

##### **Extracting individual string characters excluding duplicates**

`set()` constructor and `frozenset()` constructor can be used extract individual characters of a string, excluding duplicate characters.
- For `set()` constructor and `frozenset()` constructor, the string should be input as the single entry inside its own parenthesis i.e. the constructors essentially receive a tuple with single entry as input : `set((string))` or `frozenset((string))`

- Inputting `(string)` to curly braces `{}` generates a singleton set with that string as entry

In [82]:
### Extracting individual string characters including duplicates using `list()` constructor

string_set1 = set(("Hello  World"))
print(f"Extracting individual string characters including duplicates using `set()` constructor: {string_set1}")

string_frozenset1 = frozenset(("Hello World"))
print(f"Extracting individual string characters including duplicates using `frozenset()` constructor: {string_frozenset1}")

Extracting individual string characters including duplicates using `set()` constructor: {'d', 'e', 'W', 'r', 'H', ' ', 'l', 'o'}
Extracting individual string characters including duplicates using `frozenset()` constructor: frozenset({'d', 'e', 'W', 'r', 'H', ' ', 'l', 'o'})

In [81]:
string_set2 = {("Hello  World")}
print(f"Inputting `(string)` to {r"{}"}: {string_set2}")

Inputting `(string)` to {}: {'Hello  World'}

#### Joining sequence of strings into single valid string

Sequence of characters can be joined into a single string using string class' `.join()` function.

Calling this function using an empty string, or a prefix non-empty string, and using the required string sequence inside `()` as argument, the required string can be created.
- The input sequence should be an iterable so, it cannot be a set or frozenset.
- The prefix string is added before each entry in the input iterable sequence.

In [124]:
print("".join(("Hello")))

Hello

In [130]:
print("".join(("Hello", "World", "!")))

HelloWorld!

In [131]:
print("".join(('H', 'e', 'l', 'l', 'o')))

Hello

In [126]:
print(" ".join(('H', 'e', 'l', 'l', 'o')))

H e l l o

In [127]:
print("".join(["Hello"]))

Hello

In [132]:
print(" ".join(["Hello", "World", "!"]))

Hello World !

In [133]:
print("".join(['H', 'e', 'l', 'l', 'o']))

Hello

In [129]:
print(" ".join(['H', 'e', 'l', 'l', 'o']))

H e l l o