### Initialising Integer variables

In [5]:
### Assigning a value explicitly
x = 9 ## Initialises x as integer with value = 9
y = -9 ## Initialises y as integer with value = -9

### Without assigning a value explicitly
z = int() ## Initialises z as integer with value = 0

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
9
Data type of x is:
<class 'int'>
Value of y =
-9
Data type of y is:
<class 'int'>
Value of z =
0
Data type of z is:
<class 'int'>

### Initialising Float variables

In [7]:
## Initialising floats
### Assigning a value explicitly
x = 1.5 ## Initialises x as float with value = 1.5
y = -1.5 ## Initialises y as float with value = -1.5

### Without assigning a value explicitly
z = float() ## Initialises z as float with value = 0.0

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
1.5
Data type of x is:
<class 'float'>
Value of y =
-1.5
Data type of y is:
<class 'float'>
Value of z =
0.0
Data type of z is:
<class 'float'>

### Initialising Complex Number variables

In [6]:
## Initialise complex number

### Initialise complex number by explicitly providing real and imaginary values
x = complex (1, 5) 
y = complex (-1.5, 9.7)
z = complex (6.889, -9.006)


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
(1+5j)
Data type of x is:
<class 'complex'>
Value of y =
(-1.5+9.7j)
Data type of y is:
<class 'complex'>
Value of z =
(6.889-9.006j)
Data type of z is:
<class 'complex'>

#### Initialise complex number using other variables for real and imaginary values

In [7]:
## Initialise complex number

### Initialise complex number using other variables for real and imaginary values

a = 1.5
b = 9.7

x = complex(a,b)
y = complex (-a, b)
z = complex (a, -b)

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
(1.5+9.7j)
Data type of x is:
<class 'complex'>
Value of y =
(-1.5+9.7j)
Data type of y is:
<class 'complex'>
Value of z =
(1.5-9.7j)
Data type of z is:
<class 'complex'>

#### Initialise complex number using other variables for real and imaginary values

In [1]:
## Initialise complex number

### Initialise complex number using other variables for real and imaginary values

a = 1.5
b = 9.7

x = complex(a,b)
y = complex (-a, b)
z = complex (a, -b)

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
(1.5+9.7j)
Data type of x is:
<class 'complex'>
Value of y =
(-1.5+9.7j)
Data type of y is:
<class 'complex'>
Value of z =
(1.5-9.7j)
Data type of z is:
<class 'complex'>

#### Initialise complex number using string input

Note When converting from a string, the string must not contain whitespace around the central + or - operator. For example, complex('1+2j') is fine, but complex('1 + 2j') raises ValueError.

In [8]:
## Initialise complex number

### Initialise complex number using string input


x = complex('1+2j')
y = complex('1-2j')
z = complex('-1+2j')

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
(1+2j)
Data type of x is:
<class 'complex'>
Value of y =
(1-2j)
Data type of y is:
<class 'complex'>
Value of z =
(-1+2j)
Data type of z is:
<class 'complex'>

### Initialise complex number with 0 real and 0 imaginary parts

In [4]:
### When initialised with zero as real and imaginary parts, a complex number variable is initialied as 0j. 
### This corresponds to False as boolean value

x = complex (0,0)
print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))
print("Boolean value of x is: ")
print(bool(x))

Value of x =
0j
Data type of x is:
<class 'complex'>
Boolean value of x is:
False

###  Initialising String variables

In [13]:
## Initialise non-empty single line string variables

x = 'Hello World' ## Initialises with single quotes
y = "Hello World" ## Initialises with double quotes

v = str('Hello World')  ## Initialise using constructor with single quotes
w = str("Hello World")  ## Initialise using constructor with double quotes


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))



print('Value of v = ')
print(v)
print('Data type of v is: ')
print(type(v))

print('Value of w = ')
print(w)
print('Data type of w is: ')
print(type(w))

Value of x =
Hello World
Data type of x is:
<class 'str'>
Value of y =
Hello World
Data type of y is:
<class 'str'>
Value of v =
Hello World
Data type of v is:
<class 'str'>
Value of w =
Hello World
Data type of w is:
<class 'str'>

In [15]:
## Initialise multi-line string variables

x = 'Hello 
World' ## Initialises with single quotes
y = "Hello 
World" ## Initialises with double quotes

v = str('Hello 
        World')  ## Initialise using constructor with single quotes
w = str("Hello 
        World")  ## Initialise using constructor with double quotes

SyntaxError: unterminated string literal (detected at line 3) (4131276113.py, line 3)

In [16]:
## Initialise multi-line string variables --> Needs triple quoting

## Initialises multi-line string variable by triple quoting using single quotes
x = '''Hello 
World''' 
## Initialises multi-line string variable by triple quoting using single quotes
y = """Hello 
World"""


## Initialises multi-line string variable by triple quoting using single quotes
v = str('''Hello 
World''')
## Initialises multi-line string variable by triple quoting using single quotes
w = str("""Hello 
World""") 


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))



print('Value of v = ')
print(v)
print('Data type of v is: ')
print(type(v))

print('Value of w = ')
print(w)
print('Data type of w is: ')
print(type(w))

Value of x =
Hello
World
Data type of x is:
<class 'str'>
Value of y =
Hello
World
Data type of y is:
<class 'str'>
Value of v =
Hello
World
Data type of v is:
<class 'str'>
Value of w =
Hello
World
Data type of w is:
<class 'str'>

In [12]:
## Initialise empty string
x = '' ## Initialises with single quotes
y = "" ## Initialises with double quotes
z = str() ## Initialises using constructor


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =

Data type of x is:
<class 'str'>
Value of y =

Data type of y is:
<class 'str'>
Value of z =

Data type of z is:
<class 'str'>

### Boolean Variables

In [17]:
## Intialising Boolean variables using True and False keywords
x = True
y = False

print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

Value of x =
True
Data type of x is:
<class 'bool'>
Value of y =
False
Data type of y is:
<class 'bool'>

In [5]:
## All non-zero numeric types and non-empty strings evaluate to True if given as bool() constructor input

### Initialising boolean using Numeric inputs to constructor
x = bool(20)
y = bool(-30)
z = bool(0)


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
True
Data type of x is:
<class 'bool'>
Value of y =
True
Data type of y is:
<class 'bool'>
Value of z =
False
Data type of z is:
<class 'bool'>

In [6]:
## All non-zero numeric types and non-empty strings evaluate to True if given as bool() constructor input

### Initialising boolean using Complex Number inputs to constructor

x = bool(complex(20, 30))
y = bool(complex(-10, -30))
z = bool(complex(0,0))


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
True
Data type of x is:
<class 'bool'>
Value of y =
True
Data type of y is:
<class 'bool'>
Value of z =
False
Data type of z is:
<class 'bool'>

In [19]:
## All non-zero numeric types and non-empty strings evaluate to True if given as bool() constructor input

### Initialising boolean using String inputs to constructor
x = bool('Hello')
y = bool("Hello")
z = bool('')


print('Value of x = ')
print(x) 
print('Data type of x is: ')
print(type(x))

print('Value of y = ')
print(y)
print('Data type of y is: ')
print(type(y))

print('Value of z = ')
print(z)
print('Data type of z is: ')
print(type(z))

Value of x =
True
Data type of x is:
<class 'bool'>
Value of y =
True
Data type of y is:
<class 'bool'>
Value of z =
False
Data type of z is:
<class 'bool'>

### Disallowed Initialisations

In [20]:
## Variable names cannot start with a number - if so initialised, an error is thrown, as in below example.

1z = 8

SyntaxError: invalid decimal literal (4202219848.py, line 3)